@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-image: linear-gradient(50deg,#1a212e 0%,#06434e 74%);
  color: white;
}

.header {
   background-color: rgb(12, 12, 12);
   max-width: 95%;
   margin: auto;
}
.box_Items {
  padding: 20px;
  margin-top:50px;
}
.container_s {
  max-width: 95%;
  margin: auto;
}
.header-color{
  background-image: linear-gradient(-360deg,#1a212e 0%,#173338 74%);

  /* background-color:rgb(16, 16, 16); */
}
.poster-color{
  background-image: linear-gradient(180deg,#054f5c 0%,#054f5c 74%);

}